@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/archivo/v7/k3kQo8UDI-1M0wlSfdnoKw.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/archivo/v7/k3kVo8UDI-1M0wlSdQbMO0bhKQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/archivo/v7/k3kVo8UDI-1M0wlSdWLNO0bhKQ.ttf) format('truetype');
}
